.Board {
  --cell-size: var(--page-game--cell-size);
  $base-color: #cad0d0;
  $base-shadow: #8a9090;

  // Make Board Unselectable (to fix iOS trying to select on long press)
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background: $base-color;
  .outer-border {
    padding: 2px;
    border-color: $base-color;
    border-width: 2px;
    border-style: outset;
  }
  .middle-border {
    padding: 2px;
    border-color: $base-color;
    border-width: 2px;
    border-style: solid;
  }
  .inner-border {
    padding: 2px;
    border-color: $base-color;
    border-width: 2px;
    border-style: inset;
  }

  .map {
    display: grid;
    grid-template: repeat(3, minmax(0, var(--cell-size))) / repeat(3, minmax(0,var(--cell-size)));
    min-height: 0;
    min-width: 0;
  }
}